@keyframes pulse {
  0% {
    transform: translateY(5px);
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1); /* lambat naik */
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1); /* cepat turun */
  }
  100% {
    transform: translateY(5px);
  }
}

.jump-animation {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes updown {
  0%, 100% {
    transform: translateY(-10px);
  }
  /* Di tengah durasi, ia bergerak ke bawah */
  50% {
    transform: translateY(0px);
  }
}

.scroll-animate {
  animation: updown 1s ease infinite;
}